FOCollections.xcodeproj/project.xcworkspace/xcuserdata/xiaoma.xcuserdatad/UserInterfaceState.xcuserstate
FOCollections.xcodeproj/xcuserdata/xiaoma.xcuserdatad/xcschemes/FOCollections 2.xcscheme
FOCollections.xcodeproj/xcuserdata/xiaoma.xcuserdatad/xcschemes/FOCollections-Universal.xcscheme
FOCollections.xcodeproj/xcuserdata/xiaoma.xcuserdatad/xcschemes/FOCollections.xcscheme
FOCollections.xcodeproj/xcuserdata/xiaoma.xcuserdatad/xcschemes/xcschememanagement.plist
FOCollections.framework/*
FOCollections.xcodeproj/xcuserdata/*
build/**
